/*==================== Google Font ====================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Ubuntu:wght@300;400&display=swap');
:root {

    /*========== Font and typography ==========*/
    --title-font: 'Ubuntu', sans-serif;
    --body-font: 'Montserrat', sans-serif;
    /*==================== Colors ====================*/
    --main: #ff3d7f;
    --white: #ecf0f1;
    --overlay: #231638ad;
    /*==================== BASE ====================*/
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
    font-size: 62.5%; /* 1REM = 10PX*/
  }
  body{
    font-family: var(--body-font);
  }

  img {
    max-width: 100%;
    height: auto;
  }
  a {
    text-decoration: none;
    font-family: var(--title-font);
    color: var(--white);
    font-weight: bold;
    font-size: 2rem;
    transition: all .3s ease-in;
    
  }
  .button {
    background: none;
    border: 2px solid #b92f5d;
    width: 30%;
    padding: 1rem;
    height: 4.5rem;
    border-radius: 10px;
    color: var(--white);
    font-size: 1.7rem;
    font-family: var(--body-font);
    text-align: center;
    transition: all .3s ease-in-out;
    
  }
  .button:hover {
    background-color:#231955;
    border: 2px solid #382886;
  }
  .cta {
    position: absolute;
    z-index: 1;
    bottom: 9%;
    left: 35%;
    z-index: 1;
    
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.6rem;
  }
  h1, h2, p {
    margin-bottom: .4rem;
    
  }
  /*LANDING */
  #container {
    width: 100vw;
    height: 100vh;
  }
  .title {
    position: relative;
    z-index: 1;
    width: 80%;
    margin: 0 auto;
    top: 45vh;
    color: var(--white)
  }
  .title > h1  {
    font-family: var(--title-font);
  
  }
  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin-top: .7rem;
    transition: all .3s ease-in ;

  }
  .social > a {
    margin-top: 1rem;
    color: var(--white)
  }
  .icon {
    height: 2.5rem;
    width: 2.5rem;
    transition: all.3s ease-in;
  }
  .icon:hover {
    transform: rotate(8deg);
    height: 2.3rem;
    width: 2.3rem;
    color: var(--main);
  }

  /* Hamburger menu */ 

.hamburger{
    position: fixed;
    top: 10px;
    right: 6%;
    z-index: 1;
}
  
.hamburger .line{
  width: 38px;
  height: 5px;
  background-color: var(--white);
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}


#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}
/* background layover navbar*/

.nav__container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--overlay);
  transform: translateY(-100vh);
  transition: transform .4s ease-in;
}
.nav__container.active{
  transform: translateY(0);
}
.display{
  display: none;
  z-index: 2;
}
/* nav list */

.nav__container > ul {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100vw;
    position: relative;
    top: 20%;
    justify-content: space-evenly;
}
.nav__container > ul > li {
  display: inline-grid;
  justify-content: center;
}

.nav__container > ul > li > a:hover {
  color: var(--main);

}


  /* Styles for large devices */
  @media screen and (min-width: 968px) {
    h1{
      font-size: 4rem;
    }
    h2{
      font-size: 2.5rem;
    }
    .social {
        justify-content: space-between;
        width: 13%;
    }

    .button {
      width: 12%;  
      
    }
    .cta {
      left: 44%;
    }


    
  }


  
